{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" />

<input type="text" name="title" value="{{ image.title }}" class=title></br>

<img src="{{ MEDIA_URL }}/{{ image.location }}" width="200">
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p><br>{% endif %}

<form action="{% url 'gallery:change' image.id %}" method="post">
	{% csrf_token %}
	<input type="text" name="location" value="{{ image.location }}" />
	<input type="submit" value="Change" />
</form>
