{% load staticfiles %}

<script src="{% static 'gallery/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'gallery/jquery-ui.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" />

<style>
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
</style>
<script>
	$(function() {
		$( "#selectable" ).bind("mousedown", function(e) {
			e.metaKey = true;
		}).selectable({
				selected: function(event, ui) {
					var selected = $("li[class$='ui-selected']");
				},
				unselected: function(event, ui) {
					var selected = $("li[class$='ui-selected']").length;
				}
		});
	});
</script>

<div class="page">
	<div class="pageRow">
	<div class="navbar">
		<h3>Albums</h3>
		<a href="{% url 'gallery:index' %}">All</a><br>
		{% for album in albums %}
		<a href="{% url 'gallery:albumIndex' album.id %}">{{album.name}} [{{album.size }}]</a><br>
		{% endfor %}
	</div>

	<div class="content">
		{% if album_name %}
			<h2> {{ album_name }} </h2>
		{% endif %}
		{% if images %}
			<ul class="gallery columns-3" id="selectable">
				{% for image in images %}
				<li>
					<img src="{% static 'gallery/' %}/{{ image.location }}">
					<h3> {{ image.title }} </h3>
					<p> Taken: {{ image.taken_date }} </p>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No images available.</p>
		{% endif %}
	</div>
	</div>
</div>
