{% load staticfiles %}

<script src="{% static 'gallery/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'gallery/jquery-ui.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" />

<style>
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
</style>
<script>
	var selectedImages = {};
	$(function() {
		$( "#selectable" ).bind("mousedown", function(e) {
			e.metaKey = true;
		}).selectable({
				selected: function(event, ui) {
					selectedImages[ui.selected.id] = true;
					var selectedInput =  document.getElementById("newAlbumImages");
					selectedInput.value = Object.keys(selectedImages);
				},
				unselected: function(event, ui) {
					delete selectedImages[ui.unselected.id];
					var selectedInput =  document.getElementById("newAlbumImages");
					selectedInput.value = Object.keys(selectedImages);
				}
		});
	});
	var showFullScreen = function(imageLocation) {
		document.getElementById("fullscreenOverlay").style.display = "block";
		document.getElementById("fullscreenImage").src = "{% static 'gallery/' %}"+imageLocation;
	}
	var hideFullScreen = function() {
		document.getElementById("fullscreenOverlay").style.display = "none";
	}
</script>

<div id="fullscreenOverlay" class="overlay" style="display:none;">
<img id="fullscreenImage" onclick="hideFullScreen()" src="{% static 'gallery/' %}/assets/img.jpeg">
</div>

<div class="page">
	<div class="pageRow">
	<div class="navbar">
		<h2>Albums</h2>
		<h3>New</h3>
		<form action="{% url 'gallery:albumCreate' %}" method="post">
			{% csrf_token %}
			<input type="text" name="name" value="Album name" />
			<input type="text" name="images" value="Images" id="newAlbumImages" readonly />
			<input type="submit" value="Create" />
		</form>
		<h3>Existing</h3>
		<a href="{% url 'gallery:index' %}">All</a><br>
		{% for album in albums %}
		<a href="{% url 'gallery:albumIndex' album.id %}">{{album.name}} [{{album.size }}]</a><br>
		{% endfor %}
	</div>

	<div class="content">
		{% if album_name %}
			<h2> {{ album_name }} </h2>
		{% endif %}
		{% if images %}
			<ul class="gallery columns-3" id="selectable">
				{% for image in images %}
				<li id="{{ image.id }}">
					<img src="{% static 'gallery/' %}/{{ image.location }}">
					<h3> {{ image.title }} </h3>
					<p> Taken: {{ image.taken_date }} </p>
					<button type="button" onclick="showFullScreen('{{ image.location }}')">View</button>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No images available.</p>
		{% endif %}
	</div>
	</div>
</div>
