input.title {
	font-size: 20px;
	border: none;
	placeholder: "No title";
}

.overlay {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1 !important;
	background: rgba(0, 0, 0, 0.5);
}
.overlay img {
	display: block;
	max-width: 90%;
	height: auto;
	margin: 0 auto;
}


.page {
	display: table;
	width: 100%;
}

.pageRow {
	display: table-row;
}

.navbar {
	display: table-cell;
	width: 8%;
	padding:10px;
	background-color: #eeeeee;
}

.content {
	display: table-cell;
	width:91%;
	padding:10px;
}

ul.gallery {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%;
}

ul.gallery li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.gallery li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul.gallery li h3 {
	margin: 0 0 5px;
}

ul.gallery li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

ul.gallery.columns-3 li {
	width: 27.83%
}
